[Unit]
Description=Tugurium nodejs app

[Service]
WorkingDirectory=/home/pi/tugurium/tugurium-back
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=500ms
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs
User=www-data
Group=www-data
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
