.menuitem {
  text-decoration-line: none;
  color: lightgray;
  background: none;
  border: none;
  padding: 0;
}

.menuitem:hover {
  text-decoration-line: none;
  color: white;
}

.activeMenuitem {
  text-decoration-line: underline;
  color: white;
  background: none;
  border: none;
  padding: 0;
}

.activeMenuitem:hover {
  text-decoration-line: underline;
  color: white;
}

.removeButton {
  color: darkred;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.removeButton:hover {
  color: black;
}

.updateButton {
  color: #0d6efd;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

.updateButton:hover {
  color: black;
}

.addButton {
  color: white;
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font: inherit;
}

.onButton {
  color: white;
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font: inherit;
}

.offButton {
  color: white;
  background: silver;
  border: none;
  border-radius: 5px;
  padding: 7px;
  font: inherit;
}

.addButton:hover {
  color: silver;
  font: inherit;
}

.tokenText {
  font-family: monospace;
}

.errorMessage {
  color: red;
}

.fullscreenImage {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
